############################################
# OS
############################################
.DS_Store
**/.DS_Store

############################################
# Gradle
############################################
.gradle/
**/.gradle/
build/
**/build/

############################################
# Java / JVM
############################################
*.class
*.log
hs_err_pid*

############################################
# IDEs
############################################

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
**/out/

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/
bin/
**/bin/

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

############################################
# Docker
############################################
docker-data/
*.env

############################################
# Spring Boot
############################################
target/
logs/

############################################
# Misc
############################################
*.tmp
*.swp
*.bak
*.orig