version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: vexor-postgres-Monolite
    environment:
      POSTGRES_USER: vexor
      POSTGRES_PASSWORD: vexor
      POSTGRES_DB: vexor_db
    ports:
      - "5432:5432"
    volumes:
      - vexor_pgdata:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U vexor -d vexor_db"]
      interval: 5s
      timeout: 3s
      retries: 20

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: vexor-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@vexor.local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  vexor_pgdata:
